.header {
  @include flexMixin(row, space-between, center);
  margin-bottom: 65px;
}

.logo {
  width: 150px;
  transition: all 0.2s linear;
  &:hover {
    transform: scale(1.05);
  }
}

.toolbar {
  @include flexMixin(row, normal, center);
  &__cart {
    @include flexMixin(row, center, center);
    cursor: pointer;
    transition: box-shadow 0.2s linear;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    &:last-child {
      margin-right: 0px;
    }
    &:hover {
      box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    }
    img{
      width: 25px;
      height: 25px;
    }
  }
}
